<div class="dashboard-stats" id="dashboard-overview-stats">
  <%= render "dashboard/stat_card",
        value: @overview.total_roles_count,
        label: "Total Roles",
        link_path: roles_path %>

  <%= render "dashboard/stat_card",
        value: @overview.tasks_active_count,
        label: "Active Tasks",
        link_path: tasks_path %>

  <%= render "dashboard/stat_card",
        value: @overview.tasks_completed_count,
        label: "Tasks Completed" %>

  <%= render "dashboard/stat_card",
        value: "#{@overview.roles_online_count} of #{@overview.total_roles_count}",
        label: "Roles Online" %>
</div>

<%= render "dashboard/running_agents", running_roles: @overview.running_roles %>
