<div class="kanban" data-controller="kanban">
  <div class="kanban__header">
    <h2>Task Board</h2>
    <%= link_to "New Task", new_task_path, class: "btn btn--primary btn--sm" %>
  </div>
  <div class="kanban__board">
    <% Task.statuses.each_key do |status| %>
      <div class="kanban__column"
           data-kanban-target="column"
           data-status="<%= status %>"
           data-action="dragover->kanban#dragOver drop->kanban#drop dragenter->kanban#dragEnter dragleave->kanban#dragLeave">
        <div class="kanban__column-header">
          <span class="kanban__column-title"><%= status.humanize %></span>
          <span class="kanban__column-count"><%= @tasks_by_status[status].size %></span>
        </div>
        <div class="kanban__column-body" id="kanban-column-body-<%= status %>">
          <% @tasks_by_status[status].each do |task| %>
            <%= render "dashboard/kanban_card", task: task %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
