<div class="audit-filters">
  <%= form_with(url: audit_logs_path, method: :get, class: "audit-filters__form") do |f| %>
    <div class="audit-filters__field">
      <label for="actor_type">Actor</label>
      <select name="actor_type" id="actor_type">
        <option value="">All actors</option>
        <% @index.available_actor_types.each do |type| %>
          <option value="<%= type %>" <%= "selected" if params[:actor_type] == type %>><%= type %></option>
        <% end %>
      </select>
    </div>

    <div class="audit-filters__field">
      <label for="action_filter">Action</label>
      <select name="action_filter" id="action_filter">
        <option value="">All actions</option>
        <% @index.available_actions.each do |action| %>
          <option value="<%= action %>" <%= "selected" if params[:action_filter] == action %>><%= action.humanize %></option>
        <% end %>
      </select>
    </div>

    <div class="audit-filters__field">
      <label for="start_date">From</label>
      <input type="date" name="start_date" id="start_date" value="<%= params[:start_date] %>">
    </div>

    <div class="audit-filters__field">
      <label for="end_date">To</label>
      <input type="date" name="end_date" id="end_date" value="<%= params[:end_date] %>">
    </div>

    <div class="audit-filters__actions">
      <%= f.submit "Filter", class: "btn btn--primary btn--sm" %>
      <%= link_to "Clear", audit_logs_path, class: "btn btn--ghost btn--sm" %>
    </div>
  <% end %>
</div>
