<% content_for(:title, @template.name) %>

<section class="template-detail">
  <div class="template-detail__header">
    <div>
      <%= link_to "Back to Templates", role_templates_path, class: "template-detail__back" %>
      <h1><%= @template.name %></h1>
      <p class="template-detail__description"><%= @template.description %></p>
    </div>
    <div class="template-detail__actions">
      <%= button_to "Apply Template", apply_role_template_path(@template.key),
            class: "btn btn--primary",
            data: { turbo_confirm: "Apply the #{@template.name} template? This will create #{@template.roles.size} roles in your project." } %>
    </div>
  </div>

  <div class="template-detail__card">
    <h2 class="template-detail__card-title">Role Hierarchy (<%= @template.roles.size %>)</h2>
    <div class="hierarchy-tree">
      <% # Build parent-children map for tree rendering %>
      <% children_map = @template.roles.group_by(&:parent) %>
      <% root_roles = @template.roles.select { |r| r.parent.nil? } %>
      <% render_tree = ->(roles, prefix) do %>
        <% roles.each_with_index do |role, index| %>
          <% is_last = index == roles.size - 1 %>
          <% connector = prefix.empty? ? "" : (is_last ? "&#9492;&#9472;&#9472; " : "&#9500;&#9472;&#9472; ") %>
          <div class="hierarchy-tree__node">
            <span class="hierarchy-tree__connector"><%= raw(prefix + connector) %></span>
            <div class="hierarchy-tree__role">
              <strong class="hierarchy-tree__title"><%= role.title %></strong>
              <p class="hierarchy-tree__description"><%= role.description %></p>
              <% if role.skill_keys.any? %>
                <div class="hierarchy-tree__skills">
                  <% role.skill_keys.each do |skill_key| %>
                    <span class="skill-badge"><%= skill_key.humanize %></span>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
          <% child_roles = children_map[role.title] || [] %>
          <% if child_roles.any? %>
            <% new_prefix = prefix + (is_last ? "&nbsp;&nbsp;&nbsp;&nbsp;" : "&#9474;&nbsp;&nbsp;&nbsp;") %>
            <% render_tree.call(child_roles, new_prefix) %>
          <% end %>
        <% end %>
      <% end %>
      <% render_tree.call(root_roles, "") %>
    </div>
  </div>
</section>
