<div class="hook-card" id="<%= dom_id(role_hook) %>">
  <div class="hook-card__header">
    <h3 class="hook-card__title">
      <%= link_to (role_hook.name.presence || "Unnamed Hook"), role_role_hook_path(@role, role_hook) %>
    </h3>
    <%= hook_status_badge(role_hook) %>
  </div>
  <div class="hook-card__details">
    <span class="hook-card__event"><%= lifecycle_event_label(role_hook.lifecycle_event) %></span>
    <span class="hook-card__separator">-></span>
    <span class="hook-card__action-type"><%= action_type_label(role_hook.action_type) %></span>
    <% if role_hook.trigger_agent? && role_hook.target_role %>
      <span class="hook-card__target">(<%= role_hook.target_role.title %>)</span>
    <% elsif role_hook.webhook? && role_hook.action_config&.dig("url") %>
      <span class="hook-card__target">(<%= truncate(role_hook.action_config["url"], length: 40) %>)</span>
    <% end %>
  </div>
  <div class="hook-card__meta">
    <span class="hook-card__position">Position: <%= role_hook.position %></span>
    <span class="hook-card__executions"><%= pluralize(role_hook.hook_executions.count, "execution") %></span>
  </div>
</div>
