<% percentage = goal.progress_percentage %>
<div class="goal-tree__node <%= "goal-tree__node--parent" if goal.children.any? %> <%= "goal-tree__node--child" if depth > 0 %>" style="--depth: <%= depth %>">
  <div class="goal-tree__content">
    <div class="goal-tree__info">
      <% if goal.mission? %>
        <span class="goal-tree__label goal-tree__label--mission">Mission</span>
      <% end %>
      <%= link_to goal.title, goal_path(goal), class: "goal-tree__title" %>
      <div class="goal-tree__progress-inline">
        <span class="goal-tree__percentage"><%= percentage %>%</span>
        <div class="goal-tree__bar">
          <%= render "shared/progress_bar", percentage: percentage %>
        </div>
      </div>
    </div>
  </div>

  <% sorted_children = goal.children.sort_by { |c| [ c.position || 0, c.title ] } %>
  <% if sorted_children.any? %>
    <div class="goal-tree__children">
      <% sorted_children.each do |child| %>
        <%= render partial: "goals/goal_tree_node", locals: { goal: child, depth: depth + 1 } %>
      <% end %>
    </div>
  <% end %>
</div>
